*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

header {
    background-color: lightgrey;
    #logo{
        display: block;
        margin: 0 auto;
        width: 10%;
    }

    nav{
        display: flex;
        justify-content: center;
        gap: .5rem;
        color: white;
        padding: 1rem 2rem;

        button{
            color: white;
            background-color: darkgrey;
            border: darkgrey solid 2px;
            border-radius: .25rem;
            padding: .25rem .5rem;
        }

        button:hover{
            cursor: pointer;
            border: solid 2px darkgrey;
            border-radius: .25rem;
            background-color: lightgrey;
            color: black;
            text-decoration: underline;
        }
    }
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    .home-intro{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

footer{
    background-color: lightgrey;
    color: black;
    padding: 1rem 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}